Package: thu-downloader
Version: VERSION_PLACEHOLDER
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6, libgtk-3-0, libglib2.0-0
Maintainer: Xiang-cd
Description: THU Downloader - A Flutter application for downloading files
 THU Downloader is a cross-platform application built with Flutter
 for downloading files from Tsinghua University resources.
